body {
  background-color: #FFFEFD;
  margin: auto;
  font-family: 'Nunito Sans', sans-serif;
}

header {
  font-size: 3em;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
  text-align: center;
  margin: 0;
}

header h1{
  margin: 15px;
  font-size: 1em;
}

nav{
  border-top: 1px solid green;
  border-bottom: 1px solid green;
}

nav ul {
  display: flex;
  gap: 80px;
  direction: rtl;
  margin-right: 20px;
}

nav ul li a{
  text-decoration: none;
  font-size: 0.5em;
  vertical-align:middle;
}


main {
  margin: 15px;
  margin-top: 15px;
}

#main-container {
  display: flex;
  justify-content: space-evenly;
  margin: 30px;
}

main section img {
  width: 40%;
  height: 40%;
  margin: 15px;
}

main article{
  margin: 15px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  line-height: 20px;
}

main article h2{
  margin-bottom: 15px;
  font-weight: 500;
  color: green;
}

form{
  border: 1px solid green;
  border-radius: 20px;
  padding: 25px;
  width: 45%;
  margin: auto;
  background-color: #93D4CE;
}

form div{
  margin: 15px;
}

form legend{
  color: green;
  font-weight: 500;
  font-size: large;
  line-height: 1.5em;
  margin-bottom: 15px;
  margin-left: 30px;

}

input[type="radio"] {
  height: 1em;
  width: 1em;
  vertical-align: middle;
  margin-left: 30px;
}

button {
  padding: 5px;
  font: bold 1em;
  border: 2px solid #333;
  border-radius: 5px;
  background: palevioletred;
  margin-left: 30px;
}

button:hover {
  outline: none;
  background: green;
  color: #fff;
}

.large-label {
  display: inline-block;
  font: 1rem;
  margin-bottom: 0.5rem;
  margin-left: 20px;
}

fieldset input{
  margin-bottom: 0.5rem;
  margin-left: 1rem;

}


#container{
  border: 1px solid green;
  border-radius: 20px;
  padding: 25px;
  width: 70%;
  margin: auto;
  margin-top: 20px;
  background-color: #93D4CE;
  visibility: hidden;
}

#content{
  display: flex;
  justify-content: space-evenly;
}

#image{
  width: 100%;
  height: auto;
}

#plant-traits{
  display: list-item;
}

#plant-traits li{
  list-style-type: square;
  margin: 15px;
  font-size: 1em;
}

#plant-traits li::marker {
  color: green;
  font-size: 1em;
}

#name{
  color: green;
  font-size: 2em;
  margin-bottom: 15px;

}




