body {
  background-color: #FFFEFD;
  margin: auto;
  font-family: 'Nunito Sans', sans-serif;
}

header {
  font-size: 3em;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 15px;
  margin-left: 0px;
  margin-right: 0px;
  /*position: sticky;*/
}

/*
header img {
  position: absolute;
  height: 100%;
  left: 0%;
} */


nav{
  margin: 30px;
}

nav ul {
  display: flex;
  gap: 50px;
  direction: rtl;
}


nav ul li a{
  text-decoration: none;
  font-size: medium;
}


main {
  margin: 15px;
}

#main-container {
  display: flex;
  justify-content: space-evenly;
  margin: 30px;
}

main section img {
  width: 40%;
  height: 40%;
  margin: 15px;
}

main article{
  margin: 15px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  line-height: 20px;
}

main article h2{
  margin-bottom: 15px;
  font-weight: 500;
  color: green;
}